
<div class="panel panel-default" id="textpanel_{{ form.instance.pk }}">
  <div class="panel-heading">
        <div class="panel-title">
    <div class="row">
      <div class="col-xs-8 text-left">
        <h4>Text Panel</h4>
      </div>
      <div class="col-xs-4 text-right">
          <button class="btn btn-danger" onclick="$('#textpanel_{{ form.instance.pk }}').remove(); $.post('{% url 'textpanel_delete' form.instance.pk %}', data={'csrfmiddlewaretoken': '{{ csrf_token }}'});">
              <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
      </div>
        </div>
    </div>

  </div>
  <div class="panel-body">
<form action="{% url 'textpanel_update' pk=form.instance.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="form-group">
      {{ form.as_p }}
    <input type="submit" value="send" hidden="true">
  </div>
</form>
  </div>
</div>

